<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Medica | Our Services  jm</title>

  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Slick Carousel -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'plugins/slick/slick-theme.css' %}">

<!-- FancyBox -->
<link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css' %}">

<!-- Stylesheets -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Preloader -->

  

<!--header top-->
<div class="header-top">
      <div class="container clearfix">
            <div class="top-left">
                  <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6>
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
                  {% if user.is_authenticated %}
    <div class="user-profile">
        <a href="{% url 'account_logout' %}">
            <!-- Check if user has social account profile image or custom profile image -->
            <img src="{% if user.socialaccount_set.exists %} 
                        {% if user.socialaccount_set.first.extra_data.picture %} 
                            {{ user.socialaccount_set.first.extra_data.picture }} 
                        {% else %}
                            /static/images/default-user.png
                        {% endif %}
                      {% else %}
                        {% if user.profile.profile_image %}
                            {{ user.profile.profile_image.url }}
                        {% else %}
                            /static/images/default-user.png
                        {% endif %}
                      {% endif %}" 
                 alt="Profile" class="profile-pic">
        </a>
        <span>{{ user.first_name }}</span>
    </div>
{% else %}
    <a href="{% url 'login' %}" class="btn-style-one">Login</a>
{% endif %}
            </div>
      </div>
</div>
<!--header top-->

<!--Header Upper-->
<section class="header-uper">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                    <a href="{% url 'home' %}">
                              <img src="/static/images/logo.png" alt="" width="130">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong>Email</strong>
                              <br>
                              <a href="#">
                                    <span>info@medica.com</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong>Call Now</strong>
                              <br>
                              <span>+ (977) - 9746353958</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="btn-style-one">Dashboard</a>
                        <div class="user-profile"></div>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn-style-one">Appointment</a>
                    {% endif %}
                </div>
            </div>
      </div>
</section>
<!--Header Upper-->


<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li  class="active">
                        <a href="{% url 'service' %}">Service</a>
                    </li>
        
                    <li>
                        <a href="{% url 'team' %}">Team</a>
                    </li>
                    <li>
                        <a href="{% url 'appointment' %}">Appointment</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url(/static/images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>service</h1>
            <ul class="title-menu clearfix">
              <li>
                  <a href="{% url 'home' %}">home &nbsp;/</a>
              </li>
              <li>service</li>
          </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<section class="service-overview section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-block">
                    <h2>Clinical And <br>Medical Education</h2>
                    <p>Clinical and medical education form the foundation of healthcare excellence, equipping future professionals with the knowledge, skills, and compassion needed to provide exceptional care.
                         This education combines theoretical learning with hands-on clinical experience, allowing students to bridge the gap between classroom knowledge and real-world application.
                         Through rigorous training, aspiring doctors, nurses, and medical staff develop critical thinking, diagnostic abilities, and patient-centered approaches.<br>

                         <br>Moreover, clinical education fosters teamwork and communication, essential for working in dynamic healthcare environments. As medical advancements continue to evolve, 
                         this education ensures that healthcare professionals remain at the forefront of innovation, ready to address complex health challenges with confidence and expertise.
                    </p>
                    <ul>
                        <li><i class="fa fa-caret-right"></i>Comprehensive Training</li>
                        <li><i class="fa fa-caret-right"></i>Skill Development</li>
                        <li><i class="fa fa-caret-right"></i>Teamwork and Communication</li>
                        <li><i class="fa fa-caret-right"></i>Adaptation to Innovation</li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion-section">
                    <div class="accordion-holder">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Why Should I choose Medical Health
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Choosing Medical Health means prioritizing your well-being with trusted,
                                        comprehensive care. We combine advanced medical technology with a team of skilled professionals to deliver exceptional healthcare services. 
                                        From preventive care to specialized treatments, we are dedicated to meeting your unique needs with compassion and precision. 
                                        Your health is our top priority, and we strive to provide a safe, supportive environment for every step of your journey toward better health.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            What are the Centre’s visiting hours?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Our Centre welcomes visitors during dedicated hours to ensure a comfortable and supportive environment for patients and their loved ones.
                                         Visiting hours are thoughtfully designed to balance rest and recovery with the joy of companionship. 
                                         On Saturdays, many of our doctors are on leave as it is a public holiday, allowing them precious time with their families. 
                                         However, we are fully active and available on all other days to provide the highest quality care. 
                                        We kindly encourage you to plan your visits accordingly and appreciate your understanding as we prioritize the well-being of both our patients and healthcare providers
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            How many visitors are allowed?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Our Centre welcomes visitors during dedicated hours to ensure a comfortable and supportive environment for patients and their loved ones.
                                        Visiting hours are thoughtfully designed to balance rest and recovery with the joy of companionship. 
                                        On Saturdays, many of our doctors are on leave as it is a public holiday, allowing them precious time with their families. 
                                        However, we are fully active and available on all other days to provide the highest quality care. 
                                       We kindly encourage you to plan your visits accordingly and appreciate your understanding as we prioritize the well-being of both our patients and healthcare providers
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<section class="service-tab-section section">
    <div class="outer-box clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                    <h2>Departments</h2><br>
                    <br></div>
                    <!-- Nav tabs -->
                    <div class="tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#dormitory"  data-toggle="tab">dormitory</a>
                            </li>
                            <li role="presentation">
                                <a href="#orthopedic" data-toggle="tab">orthopedic</a>
                            </li>
                            <li role="presentation">
                                <a href="#sonogram" data-toggle="tab">sonogram</a>
                            </li>
                            <li role="presentation">
                                <a href="#x-ray" data-toggle="tab">x-ray</a>
                            </li>
                            <li role="presentation">
                                <a href="#diagnostic" data-toggle="tab">diagnostic</a>
                            </li>
                        </ul>
                    </div>
                    <!--Start single tab content-->
                    <div class="tab-content">
                        <div class="service-box tab-pane fade in active row" id="dormitory">
                            <div class="col-md-6">
                                <img class="img-responsive" src="/static/images/services/service-one.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>dormitory</h3>
                                    </div>
                                    <div class="text">
                                        <p>Our dormitory provides a comfortable and secure living space for all residents, offering a peaceful environment conducive to rest and study. 
                                            Equipped with essential amenities, each room is designed to maximize comfort and privacy.
                                             Conveniently located within easy access to hospital facilities, it ensures a smooth and stress-free stay.</p>
                                            <p>Designed with your needs in mind, our dormitory features modern facilities, including Wi-Fi, laundry services, and common areas for relaxation. 
                                                Whether you’re here for short-term or extended stays, we prioritize your comfort and well-being to make your time with us as pleasant as possible.</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Close to hospital facilities for easy access.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Wi-Fi, laundry, and private rooms for a relaxed stay.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Round-the-clock security and support staff.</li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="orthopedic">
                            <div class="col-md-6">
                                <img class="img-responsive" src="/static/images/services/service-two.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>orthopedic</h3>
                                    </div>
                                    <div class="text">
                                        <p>Our Orthopedic department offers expert care for bone, joint, and muscle conditions. We provide both surgical and non-surgical treatments tailored to each patient's needs.
                                             Our goal is to restore mobility and improve quality of life.</p>
                                        <p>With advanced technology and skilled specialists, we treat fractures, arthritis, and sports injuries.
                                             From diagnosis to recovery, we prioritize your comfort and healing every step of the way</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Specialized treatment for bones, joints, and muscles</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Cutting-edge equipment for accurate diagnosis and treatment.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Tailored solutions to restore mobility and improve well-being</li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="sonogram">
                            <div class="col-md-6">
                                <img class="img-responsive" src="/static/images/services/service-three.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>sonogram</h3>
                                    </div>
                                    <div class="text">
                                        <p>Our Sonogram service uses advanced ultrasound technology to provide clear, non-invasive imaging of internal organs and tissues. It’s an essential tool for diagnosing conditions related to the abdomen, heart, and more. 
                                            With minimal discomfort, we ensure accurate results for timely care.</p>
                                        <p>Performed by skilled technicians, sonograms help detect abnormalities, monitor pregnancy, and evaluate organ health. 
                                            We prioritize your comfort while delivering precise images to support your medical journey.</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Safe and painless procedure for detailed results.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Clear, high-quality images for precise analysis.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Performed by experienced professionals for reliable results.</li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="x-ray">
                            <div class="col-md-6">
                                <img class="img-responsive" src="/static/images/services/service-four.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>x-ray</h3>
                                    </div>
                                    <div class="text">
                                        <p>Our X-ray service provides fast, accurate imaging to help diagnose a wide range of conditions. Using minimal radiation, we capture clear images of bones, joints, and organs for effective treatment planning. 
                                            It's a quick, non-invasive procedure designed to support your healthcare needs.</p>
                                        <p>Performed by experienced radiologists, our X-ray imaging ensures precise diagnosis and helps monitor progress in conditions such as fractures, infections, and respiratory issues. 
                                            We focus on delivering reliable results with minimal discomfort.</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Fast results for timely diagnosis.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Safe imaging with minimal exposure.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Clear images for accurate assessment and treatment.</li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="diagnostic">
                            <div class="col-md-6">
                                <img class="img-responsive" src="/static/images/services/service-five.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>diagnostic</h3>
                                    </div>
                                    <div class="text">
                                        <p>Our Diagnostic services offer a comprehensive range of tests to accurately detect and monitor various health conditions. 
                                            From blood tests to imaging, we use advanced technology to ensure precise results. 
                                            Our goal is to provide timely and reliable diagnostics to guide your treatment.</p>
                                        <p>With a team of skilled professionals, we ensure your comfort throughout the diagnostic process. 
                                            Whether routine check-ups or specialized tests, we are committed to delivering accurate and efficient results to support your health journey.</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>A wide range of diagnostic options for thorough care.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Cutting-edge equipment for accurate and reliable results.</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Skilled professionals dedicated to your health and comfort.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Service Section-->
<section class="service-section bg-gray section">
    <div class="container">
        <div class="section-title text-center">
            <h3>Provided
                <span>Services</span>
            </h3>
            <p>Our provided services encompass a wide range of healthcare solutions designed to meet your needs. <br>
                From diagnostics to specialized treatments, we deliver excellence with care and compassion.</p>
        </div>
        <div class="row items-container clearfix">
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        
                            <img src="/static/images/gallery/1.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Better Service At Low Cost</span>
                        
                            <h6>Dormitory</h6>
                        </a>
                        <p>Our dormitory offers a comfortable and safe space for patients and their families, ensuring convenience and peace of mind during their stay.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        
                            <img src="/static/images/gallery/2.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Better Service At Low Cost</span>
                        
                            <h6>Germs Protection</h6>
                        </a>
                        <p>We prioritize your safety with advanced measures for germs protection, ensuring a clean and hygienic environment for your well-being.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                       
                            <img src="/static/images/gallery/3.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Better Service At Low Cost</span>
                        <a href="service.html">
                            <h6>Psycology</h6>
                        </a>
                        <p>Our psychology services provide compassionate care to support mental well-being and personal growth.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        
                            <img src="/static/images/gallery/gallery-69.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Better Service At Low Cost</span>
                        
                            <h6>Orthopedic</h6>
                        </a>
                        <p>Expert orthopedic care to diagnose, treat, and manage bone, joint, and muscle conditions.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        
                            <img src="/static/images/gallery/1.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Better Service At Low Cost</span>
                        
                            <h6>Sonogram</h6>
                        </a>
                        <p>Our advanced sonogram services provide accurate and non-invasive imaging for better diagnosis.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        
                            <img src="/static/images/gallery/gallery-60.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Better Service At Low Cost</span>
                        <a href="service.html">
                            <h6>Dental</h6>
                        </a>
                        <p>Comprehensive dental care to keep your smile healthy with preventive, restorative, and cosmetic treatments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Section--> 

<!--footer-main-->
<footer class="footer-main">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="about-widget">
              <div class="footer-logo">
                <figure>
                    <a href="{% url 'home' %}">
                    <img src="/static/images/logo-2.png" alt="">
    
                  </a>
                </figure>
              </div>
              <p>Your Path to Better Health Begins Here</p>
              <ul class="location-link">
                <li class="item">
                  <i class="fa fa-map-marker"></i>
                  <p>Birtamode, Jhapa, Nepal</p>
                </li>
                <li class="item">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <a href="#">
                    <p>Support@medica.com</p>
                  </a>
                </li>
                <li class="item">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <p>(+977)-9746353958</p>
                </li>
              </ul>
              <ul class="list-inline social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h6>Services</h6>
            <ul class="menu-link">
              <li>
                <a href="#">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>Orthopadic Liabilities</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>Dental Clinic</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>Dormamu Clinic</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>Psycological Clinic</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>Gynaecological Clinic</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="social-links">
              <h6>Developers</h6>
              <ul>
                <li class="item">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="/static/images/dev/Bishal.jpg" alt="post-thumb">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">Bishal Kumar Shah</a></h4>
                      <p>Contribution: Frontend</p>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="/static/images/dev/Anjal.JPG" alt="post-thumb">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="#">Anjal Rajbanshi</a>
                      </h4>
                      <p>Contribution: Backend </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container clearfix">
        <div class="copyright-text">
          <p>&copy; Copyright 2025. All Rights Reserved by
            <a href="{% url 'home' %}">Medica</a>
          </p>
        </div>
        <ul class="footer-bottom-link">
          <li>
              <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
              <a href="{% url 'about' %}">About</a>
          </li>
          <li>
              <a href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    </footer>
    <!--End footer-main-->
    
    </div>
    <!--End pagewrapper-->
    
    
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".header-top">
    <span class="icon fa fa-angle-up"></span>
    </div>
    
    {% load static %}
    <script src="{% static 'plugins/jquery.js' %}"></script>
    <script src="{% static 'plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-select.min.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
    <!-- FancyBox -->
    <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
    <!-- Google Maps -->
    
    <script src="{% static 'plugins/validate.js' %}"></script>
    <script src="{% static 'plugins/wow.js' %}"></script>
    <script src="{% static 'plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'plugins/timePicker.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    </body>
    
    </html>
    
    