<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Medic | Medical HTML Template</title>

  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Slick Carousel -->
  {% load static %}

<link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'plugins/slick/slick-theme.css' %}">

<!-- FancyBox -->
<link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css' %}">

<!-- Stylesheets -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

</head>



<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Preloader -->

  

<!--header top-->
<div class="header-top">
      <div class="container clearfix">
            <div class="top-left">
                  <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6>
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
                  {% if user.is_authenticated %}
    <div class="user-profile">
        <a href="{% url 'account_logout' %}">
            <!-- Check if user has social account profile image or custom profile image -->
            <img src="{% if user.socialaccount_set.exists %} 
                        {% if user.socialaccount_set.first.extra_data.picture %} 
                            {{ user.socialaccount_set.first.extra_data.picture }} 
                        {% else %}
                            /static/images/default-user.png
                        {% endif %}
                      {% else %}
                        {% if user.profile.profile_image %}
                            {{ user.profile.profile_image.url }}
                        {% else %}
                            /static/images/default-user.png
                        {% endif %}
                      {% endif %}" 
                 alt="Profile" class="profile-pic">
        </a>
        <span>{{ user.first_name }}</span>
    </div>
{% else %}
    <a href="{% url 'login' %}" class="btn-style-one">Login</a>
{% endif %}

            </div>
      </div>
</div>
<!--header top-->

<!--Header Upper-->
<section class="header-uper">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                        <a href="index.html">
                              <img src="/static/images/logo.png" alt="" width="130">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong>Email</strong>
                              <br>
                              <a href="#">
                                    <span>info@medica.com</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong>Call Now</strong>
                              <br>
                              <span>+ (977) - 9746353958</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="btn-style-one">Dashboard</a>
                        <div class="user-profile"></div>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn-style-one">Appointment</a>
                    {% endif %}
                </div>
            </div>
      </div>
</section>
<!--Header Upper-->


<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active">
                      <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a href="{% url 'service' %}">Service</a>
                        </li>
                        
                        <li>
                            <a href="{% url 'team' %}">Team</a>
                        </li>
                        <li>
                            <a href="{% url 'appointment' %}">Appointment</a>
                        </li>
                        <li>
                            <a href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#">Action</a>
                                    </li>
                                    <li>
                                          <a href="#">Another action</a>
                                    </li>
                                    <li>
                                          <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">Separated link</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">One more separated link</a>
                                    </li>
                              </ul>
                        </li> -->
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url(/static/images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>about us</h1>
            <ul class="title-menu clearfix">
              <li>
                  <a href="{% url 'home' %}">home &nbsp;/</a>
              </li>
              <li>About</li>
          </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Our Story -->
<section class="story">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/images/services/service-one.jpg" class="responsive" alt="story">
            </div>
            <div class="col-md-6">
                <div class="story-content">
                    <h2>Our Story</h2>
                    <h5 class="tagline">"Rooted in trust, Our Story is about transforming healthcare for a healthier tomorrow."</h6>
                    <p>From our humble beginnings, we have grown into a trusted name in providing compassionate, high-quality medical care. We are committed to prioritizing our patients' well-being, blending advanced technology with a human touch. Guided by a vision to make healthcare accessible and exceptional, we strive to shape a future where health and hope go hand in hand.</p>
                    <h6>Mission</h6>
                    <p>Our mission is to deliver exceptional healthcare with compassion, innovation, and a commitment to improving lives.</p>
                    <h6>Vision</h6>
                    <p>Our vision is to create a healthier future by making quality healthcare accessible, innovative, and patient-centered.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Promo Video -->
<section class="promo-video">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block text-center">
                    <h6>About Our Hospital</h6>
                    <h1>The World <br>
                        Class Hospitality
                    </h1>

                    <a data-fancybox 
                        href="https://www.youtube.com/watch?v=ds4B3Ik6rsc&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" 
                        class="play-video-link">
                        <i class="fa fa-play"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3>Collected Shots
                        <span>of Our Hospital</span>
                    </h3>
                    <p>Explore the collected shots of our hospital, showcasing our 
                        <br>state-of-the-art facilities, compassionate care, and commitment to excellence.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="/static/images/gallery/gallery-01.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="/static/images/gallery/gallery-01.jpg"></a>
                    <h3>Facility 01</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="/static/images/gallery/gallery-02.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="/static/images/gallery/gallery-02.jpg"></a>
                    <h3>Facility 02</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="/static/images/gallery/gallery-03.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="/static/images/gallery/gallery-03.jpg"></a>
                    <h3>Facility 03</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="/static/images/gallery/gallery-04.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="/static/images/gallery/gallery-04.jpg"></a>
                    <h3>Facility 04</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="/static/images/gallery/gallery-05.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="/static/images/gallery/gallery-05.jpg"></a>
                    <h3>Facility 05</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="/static/images/gallery/gallery-06.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="/static/images/gallery/gallery-06.jpg"></a>
                    <h3>Facility 06</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="appoinment-section section">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="accordion-section">
  <div class="section-title">
      <h3>FAQ</h3>
  </div>
  <div class="accordion-holder">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Why Should I choose Medical Health
                      </a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                      Choosing Medical Health means prioritizing your well-being with trusted,
                       comprehensive care. We combine advanced medical technology with a team of skilled professionals to deliver exceptional healthcare services. 
                       From preventive care to specialized treatments, we are dedicated to meeting your unique needs with compassion and precision. 
                       Your health is our top priority, and we strive to provide a safe, supportive environment for every step of your journey toward better health.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                          aria-controls="collapseTwo">
                          What are the Centre’s visiting hours?
                      </a>
                  </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                      Our Centre welcomes visitors during dedicated hours to ensure a comfortable and supportive environment for patients and their loved ones.
                       Visiting hours are thoughtfully designed to balance rest and recovery with the joy of companionship. 
                       On Saturdays, many of our doctors are on leave as it is a public holiday, allowing them precious time with their families. 
                       However, we are fully active and available on all other days to provide the highest quality care. 
                      We kindly encourage you to plan your visits accordingly and appreciate your understanding as we prioritize the well-being of both our patients and healthcare providers
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                          aria-controls="collapseThree">
                          How many visitors are allowed?
                      </a>
                  </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                      To ensure a comfortable and healing environment for all patients,
                       we allow a limited number of visitors at a time. Typically, two visitors per patient are permitted during visiting hours.
                        This helps maintain a peaceful atmosphere while allowing loved ones to offer their support.
                       We kindly ask that you cooperate with our staff to ensure a smooth and respectful visiting experience for everyone.
              </div>
          </div>
      </div>
  </div>
</div>
          

</div>                        
          </div>
      </div>                    
  </div>
</section>

<!-- End Contact Section -->

<!--footer-main-->
<footer class="footer-main">
<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="about-widget">
          <div class="footer-logo">
            <figure>
              <a href="{% url 'home' %}">
                <img src="/static/images/logo-2.png" alt="">

              </a>
            </figure>
          </div>
          <p>Your Path to Better Health Begins Here</p>
          <ul class="location-link">
            <li class="item">
              <i class="fa fa-map-marker"></i>
              <p>Birtamode, Jhapa, Nepal</p>
            </li>
            <li class="item">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <a href="#">
                <p>Support@medica.com</p>
              </a>
            </li>
            <li class="item">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <p>(+977)-9746353958</p>
            </li>
          </ul>
          <ul class="list-inline social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h6>Services</h6>
        <ul class="menu-link">
          <li>
            <a href="#">
              <i class="fa fa-angle-right" aria-hidden="true"></i>Orthopadic Liabilities</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-angle-right" aria-hidden="true"></i>Dental Clinic</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-angle-right" aria-hidden="true"></i>Dormamu Clinic</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-angle-right" aria-hidden="true"></i>Psycological Clinic</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-angle-right" aria-hidden="true"></i>Gynaecological Clinic</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="social-links">
          <h6>Developers</h6>
          <ul>
            <li class="item">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="/static/images/dev/Bishal.jpg" alt="post-thumb">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">Bishal Kumar Shah</a></h4>
                  <p>Contribution: Frontend</p>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="/static/images/dev/Anjal.jpg" alt="post-thumb">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="#">Anjal Rajbanshi</a>
                  </h4>
                  <p>Contribution: Backend </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container clearfix">
    <div class="copyright-text">
      <p>&copy; Copyright 2025. All Rights Reserved by
        <a href="{% url 'home' %}">Medica</a>
      </p>
    </div>
    <ul class="footer-bottom-link">
      <li>
          <a href="{% url 'home' %}">Home</a>
      </li>
      <li>
          <a href="{% url 'about' %}">About</a>
      </li>
      <li>
          <a href="{% url 'contact' %}">Contact</a>
      </li>
    </ul>
  </div>
</div>
</footer>
<!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
<span class="icon fa fa-angle-up"></span>
</div>

{% load static %}
<script src="{% static 'plugins/jquery.js' %}"></script>
<script src="{% static 'plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-select.min.js' %}"></script>
<!-- Slick Slider -->
<script src="{% static 'plugins/slick/slick.min.js' %}"></script>
<!-- FancyBox -->
<script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="{% static 'plugins/google-map/gmap.js' %}"></script>
<script src="{% static 'plugins/validate.js' %}"></script>
<script src="{% static 'plugins/wow.js' %}"></script>
<script src="{% static 'plugins/jquery-ui.js' %}"></script>
<script src="{% static 'plugins/timePicker.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>

