<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Appointment Requests</title>
</head>
<body>
    <h1>Appointment Requests</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Department</th>
                <th>Message</th>
                <th>Confirmed</th>
                <th>scheduled_time</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.name }}</td>
                <td>{{ appointment.email }}</td>
                <td>{{ appointment.phone }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.department }}</td>
                <td>{{ appointment.message }}</td>
                <td>{{ appointment.confirmed }}</td>
                <td>{{ appointment.scheduled_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
